.admin {
    padding: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background: #0d6efd;
    color: white;
}

button {
    background: red;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
}

select {
    padding: 6px;
}